#Python Group Matplotlib
#####Anggota:
#####1.   Tobias Mikha Sulistiyo
#####2.   Daud Ibadurahman
#####3.   Putri Reghina Hilmi Prasasti
#####4.   Sari Yuliastuti
#####5.   Fitri Alfaqrina

#**Tipe Data String**

Data dibawah ini merupakan contoh data tipe **string**, yang biasanya digunakan untuk menyatakan karakter/kalimat berupa huruf ataupun angka. Biasanya tipe data string dipisahkan oleh ' ' ataupun " " Bisa juga mengunakan """ """ apabila akan menulis kalimat yang dipisahkan tiap baris baru.

In [17]:
a= 'Tobias'
b= "Daud"
c= 'Putri'
d= "Sari"
e= 'Fitri'

In [18]:
type (a)
type (b)
type (c)
type (d)
type (e)

str

Kita bisa memanggil variabel yang telah di run sebelumnya dan kita bisa kombinasikan dengan tulisan ataupun apa yang ingin kita tampilkan. Untuk pemisahnya kita menggunakan ,

In [29]:
print ("Anggota Kelompok Matplotlib adalah", a, b, c, d, e)

Anggota Kelompok Matplotlib adalah Tobias Daud Putri Sari Fitri

Berikut adalah contoh tipe data string yang menggunakan """ """ untuk kalimat yang dipisahkan enter

In [37]:
f= """Ini adalah tugas yang kita buat bersama
Kami berusaha supaya tugas ini dapat maksimal dan dapat diterima
Semoga kalian tetap sehat selalu"""

In [35]:
print (f)

Ini adalah tugas yang kita buat bersama
Kami berusaha supaya tugas ini dapat maksimal dan dapat diterima
Semoga kalian tetap sehat selalu

Untuk pemisah baris selain dapat menggunakan enter, kita dapat menggunakan \n untuk melakukannya tiap 1 \n dapat memisahkan 1 baris. Apabila menggunakan enter, kita harus menggunakan """ """ agar berjalan. Namun apabila menggunakan " " atau ' ' kita harus menggunakan \n untuk pemisah baris.

In [41]:
g= "Ini adalah tugas yang kita buat bersama \nKami berusaha supaya tugas ini dapat maksimal dan dapat diterima \nSemoga kalian tetap sehat selalu"

In [46]:
print(f,"\n\n",g)

Ini adalah tugas yang kita buat bersama
Kami berusaha supaya tugas ini dapat maksimal dan dapat diterima
Semoga kalian tetap sehat selalu

 Ini adalah tugas yang kita buat bersama
Kami berusaha supaya tugas ini dapat maksimal dan dapat diterima
Semoga kalian tetap sehat selalu

#**Tipe data Int**

tipe data Integer/int digunakan untuk menyatakan bilangan bulat (Bilangan yang tidak dipisahkan koma)

In [49]:
h= 20

In [50]:
type(h)

int

Kita bisa memanggil variabel yang telah kita jalankan sebelumnya

In [52]:
print("Umur", a, "adalah", h)

Umur Tobias adalah 20

Apabila tipe data integer diberi tanda aritmatika (+ - * /) maka yang akan ditampilkan adalah hasil dari operasi aritmatika yang ditulis

In [53]:
i= 17+16+23

In [54]:
print(i)

56

Sedangkan apabila tipe data yang kita gunakan adalah string, maka hasil yang akan keluar adalah operasi aritmatika tersebut

In [55]:
j='17+16+23'

In [56]:
print(j)

17+16+23

#**Tipe data Float**

Tipe data float digunakan untuk menyatakan bilangan yang mempunyai koma (Bilangan tak hingga) untuk python, tanda koma ditulis menggunakan titik

In [57]:
k= 0.99

In [58]:
type(k)

float

Tipe data float juga dapat digunakan untuk menampilkan hasil operasi aritmatika

In [59]:
l= 8.125 * 0.17

In [63]:
print(l)

1.38125

Apabila operasi Dalam float diubah menjadi string, maka output yang akan keluar dalah operasi tersebut bukan hasil dari operasi tersebut

In [68]:
o="8.125 * 0.17 "

In [69]:
print (o)

8.125 * 0.17

Kita juga bisa menuliskan rumus yang telah kita run sebelumnya ke operasi yang baru. Atau kita juga bisa menuliskannya di dalam print

In [64]:
m= l/i

In [65]:
print (m)

0.024665178571428574

In [67]:
print(l-i)

-54.61875

#**Tipe data Complex**

Tipe data kompleks untuk menyatakan pasangan angka real dan imajiner, untuk imajinernya menggunakan huruf j sebagai penanda imajiner. Bilangan kompleks biasanya digunakan untuk menghitung sinyal, untuk menghitung grafik dan masih banyak lagi

In [71]:
p= 17+ 2j

In [72]:
type(p)

complex

Apabila penanda imajinernya diganti huruf yang lain, maka akan terjadi eror dan tidak dapat dijalankan

In [89]:
r= 17+2i

SyntaxError: ignored

Kita juga bisa melakukan operasi bilangan pada data tipe complex

In [84]:
q= 16-3j + -8+7j

In [85]:
print (q)

(8+4j)

untuk mengubah bilangan biasa menjadi complex, kita bisa menggunakan kode complex dengan dipisahkan koma

In [87]:
complex(17,3)

(17+3j)